body {
    background-color: black;
    font-family:  Helvetica, sans-serif;
    color: white;
    margin: 0;
    margin: auto;
    padding-top: 64px;
    height: 100%;
 }
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.header {
    background-color: #000;
    justify-content: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 30px 60px;
}
 .marchio {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}


.video {           /*video nella home*/
    max-width: 1420px;
    height: 1100px;
    display: flex;
    margin: 0 auto;
}

.intro, .introtesto {       /*ACAB + testo*/
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 600px;
}

.testosuimmagine {      /*ACAB + testo + immagine di sfondo*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/IMG/Home2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testosuimmagine-2 ul {     /*hamburger menù*/
    list-style-type: "- "; 
    padding-left: 20px;
    font-size: 52px;
    color: white;
}
  
.testosuimmagine-2 ul li a {
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 30px;
    color: white;
    transition: color 0.3s ease;
    
}

.testosuimmagine-2 ul li a:hover {
    color:#F1C40F;
    font-weight: normal;
    cursor: pointer;
}

.testosuimmagine-2 {        /*hamburger menù + immagine di sfondo*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/IMG/Hamburger.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer  {
    background-color: rgb(0, 0, 0);
    justify-content: space-between;   
    margin: 64px 64px;
    display: flex;
    border-top: solid 1px white;
    padding: 32px;
}

.footer p {
    font-size: 12px;
    max-width: 250px;
    font-weight: 300;
    
}

.footer nav {
    display: flex;
    align-items: center;
    margin-right: 32px;

}

.footer nav a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    gap: 16px;
    margin: 18px;
    margin-bottom: -36px;
    padding: 16px;

}

.footer nav a:hover {
    color: darkkhaki;
    text-decoration: underline;
    transform: scale(1.1);
}


.galleria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    max-width: 100%;   
    margin: 16px;
    padding: 8px;
}

.galleria img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    display: flex;
}

.galleria img:hover {
    transform: scale(1.05);
    z-index: 10;
    transition: 0.3s ease;
}

h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 26px;
}



.blocco1banksy img{
    display: flex;
    height: 100%;
    width: 50%;
    margin-left: 120px;    
}

.blocco1banksy {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titolimg h3 {
    display: flex;
    margin-left: 90px;
    padding: 40px;
    font-size: 38px;
    font-weight: 600;
}


.titolimg {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}


.testi p {
    width: 70%;
    padding: 40px;
        
}

.blocco2banksy img{
    display: flex;
    height: 300px;
    max-width: 300px;
    margin-left: 120px;    
    
}

.blocco2banksy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 90px;
}

.titolimg2 h3 {
    display: flex;
    margin-left: 90px;
    padding: 24px;
    font-size: 26px;
    font-weight: 500;
}


.titolimg2 {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}


.testi2 p {
    width: 70%;
    padding: 40px;
}

.blocco3banksy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 90px;
}

.titolimg3 h4 {
    padding: 24px;
    font-size: 26px;
    font-weight: 600;
}


.titolimg3 {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}


.testi3 p {
    width: 70%;
    padding: 30px;
}

.titolo-storia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;   
}

.titolo-street h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;   
}

.titolo-street h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12px;   
}

.sfondo4 {      /*3 foto sotto header*/
    display: flex;              
    justify-content: center;    
    gap: 10px;    
    margin-top: 32px;              
  }
   
.sfondo4 img {    /*3 foto sotto header*/
    width: 300px;              
    height: 100%;            
    object-fit: cover;          
  }

.blocco1banksy h1 {
    padding-left: 120px;
    padding-top: 40px;
    font-size: 38px;
    font-weight: 600;
}

.blocco1banksy h2 {
    padding-left: 120px;
    font-size: 26px;
    font-weight: 500;
    margin-top: -14px;
}

.foto-storia2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin: 20;
    height: 100%;
}

.blocco2banksy h1 {
    display: flex;
    padding-left: 110px;
    padding-top: 40px;
    font-size: 38px;
    font-weight: 600;
}

.blocco2banksy h2 {
    padding-left: 110px;
    font-size: 26px;
    font-weight: 500;
    margin-top: 100px;

}

.blocco2banksy h5 {
    padding-left: 110px;
    font-size: 26px;
    font-weight: 500;
    margin-top: -8px;
}

.titolimg3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 110px;
    gap: 10px;
}

.blocco3banksy h1,
.blocco3banksy h2 {
    margin: 0;
    padding: 0;
}

.blocco3banksy h2 {
    font-size: 26px;
    font-weight: 500;
   
}
.blocco3banksy h1 {
    margin-top: 60px;
}

.videotecniche {
    margin-top: 68px;
    display: flex;              
    justify-content: center;    
    gap: 10px;  
    
}

.titolimg h6 {
    margin-left: 90px;
    padding: 24px;
    font-size: 22px;
    font-weight: 400;
    margin-top: -12px;

}

.titolimg img {
    max-width: 40%;
    height: auto;
}



.blocco2banksy h1{
    font-size: 32px;
    font-weight: 600;   
}

.arturo h1 {
    padding-left: 120px;
    padding-top: 40px;
    font-size: 38px;
    font-weight: 600;
}

.arturo h2 {
    padding-left: 120px;
    font-size: 26px;
    font-weight: 500;
    margin-top: -14px;
}

.arturo h3 {   
    margin-left: 100px;
    padding: 24px;
    font-size: 22px;
    font-weight: 400;
    margin-top: -12px;
}

.arturo img {
    max-width: 450px;
    height: auto;
    margin: 0 auto;
}  

.arturo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pollo h1 {
    padding-left: 120px;
    padding-top: 40px;
    font-size: 38px;
    font-weight: 600;
}

.pollo h2 {
    padding-left: 120px;
    font-size: 26px;
    font-weight: 500;
    margin-top: -14px;
}

.pollo h3 {   
    margin-left: 100px;
    padding: 24px;
    font-size: 22px;
    font-weight: 400;
    margin-top: -12px;
}

.pollo2 img {
    max-width: 350px;
    height: auto;
    margin: 120px;
}  

.pollo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pollo4 h1 {
    padding-left: 120px;
    padding-top: 40px;
    font-size: 38px;
    font-weight: 600;
}

.pollo4 h2 {
    padding-left: 120px;
    font-size: 26px;
    font-weight: 500;
    margin-top: -14px;
}

.pollo4 h3 {   
    margin-left: 100px;
    padding: 24px;
    font-size: 22px;
    font-weight: 400;
    margin-top: -12px;
}

.pollo3 img {
    max-width: 350px;
    height: auto;
    margin-left: 120px;
    margin-top: 22px;
}  

.pollo3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.foto-street {      /*3 foto sotto header*/
    display: flex;              
    justify-content: center;    
    gap: 10px; 
    margin-top: 32px;                 
}
   
.foto-street img {    /*3 foto sotto header*/
    width: 400px;              
    height: 100%;            
    object-fit: cover;          
}
   
.anastasia img {
    max-width: 400px;
    height: auto;
    padding: 12px; 

}

.anastasia2 img {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 900px;
    height: auto;
    margin: 38px auto;


}

.titolimg3 img {
    max-width: 40%;
    height: auto;
    margin: 0;
}

.mob1 img {
    max-width: 60%;
    height: auto;
}

p {
    max-width: 600px;
    gap: 10px;  
}


.testi p {
    margin: -35px 0px;
}


.testi2 p {
    margin: -35px 0px;
}


.testi3 p {
    margin: -35px 0px;
}

.testi {
    margin-top: 70px;
}

.testi2 {
    margin-top: 70px;
}

.testi3 {
    margin-top: 70px;
    }

.testina p {
        width: 70%;
        padding-top: 50px;
        
            
}

    

.titoli-artisti h1 {
    
        text-align: center;
    
        padding-top: 50px;
    
}
    
.galleria-artisti {
    
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 16px;
    
    max-width: 100%;   
    
    margin: 16px;
    
    padding: 8px;
    
}
    
.galleria-artisti img {
    
        height: 400px;
    
        width: 100%;
    
        object-fit: cover;
    
        display: flex;
    
}
    
.galleria-artisti div:hover {
    
      transform: scale(1.05);
    
      z-index: 10;
    
}
    
.galleria-artisti p {
    
        font-size: 20px;
    
        color: #000;;
    
        margin: 0;
    
        padding: 20px;
    
        background-color: #F1C40F;
    
        text-align: center;
    
        font-weight: bold;
    
}
    
.galleria-artisti a {
    
    text-decoration: none;
    
}

   
@media screen and (max-width: 768px) {

    body {
        margin: 0;
        padding: 20;
    }

    img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .video {
        max-width: 100%;
        height: auto;
        padding-top: 50px;
        margin: auto;
        justify-content: center;
    }

    .footer {
        margin: 32px 16px;
      }
     
    .footer p {
        font-size: 12px;
        margin-top: 8px;
      }
     
    .footer nav {
        width: 100%;
      }
     
    .footer nav a {
        margin: 8px  0;
        padding: 0;
        font-size: 12px;
        flex-direction: column;
        display: flex;
    }

    .galleria-artisti {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        align-items: center;
        justify-content: center;
      }
     
      .galleria-artisti img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        margin: 0;
      }
     
      .galleria-artisti p {
        font-size: 18px;
        padding: 20px 0;
        background-color: #F1C40F;
        margin: 0;
        width: 100%;
        text-align: center;
      }
     
      .galleria-artisti div:hover {
        transform: none;    
      }

      .galleria {
        gap: 4px;                            
        padding: 8px;
        margin: 0 auto;
      }
     
      .galleria img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;                   /* questo è per tenere le img quadrate */
        object-fit: cover;
        display: block;
      }
     
      .galleria img:hover {
        transform: none;    
      } 
     
      .blocco1banksy,
      .blocco2banksy,
      .blocco3banksy,
      .arturo,
      .pollo,
      .pollo3 {
        grid-template-columns: 1fr;

      }
     
      .blocco1banksy img,
      .blocco2banksy img,
      .pollo2 img,
      .pollo3 img,
      .anastasia img,
      .titolimg img,
      .titolimg3 img {
        width: 100%;
        height: auto;
        margin-left: 64px;
        padding-top: 18px;
        
        
      }
     
      .titolimg h3,
      .titolimg2 h3,
      .titolimg h6,
      .arturo h1, .arturo h2, .arturo h3,
      .pollo h1, .pollo h2, .pollo h3,
      .pollo4 h1, .pollo4 h2, .pollo4 h3,
      .blocco1banksy h1, .blocco1banksy h2,
      .blocco2banksy h1, .blocco2banksy h2, .blocco2banksy h5,
      .blocco3banksy h1, .blocco3banksy h2,
      .titolimg3 h4,
      .titolo-street h1, .titolo-street h2,
      .titolo-storia {
        text-align: left;
        width: 450px;
        margin: 0 auto;
        padding-left: 14px;
        font-size: 22px;
        font-weight: 530;
        
      }

    .titolimg3 h1 {
        margin: 0;
        text-align: left;
        
    }

    .titolimg3, .blocco3banksy h2 {
        padding: 0 16px;
        margin: 0 auto;
    }

    img {
        margin: 0 auto;
    }

    .sfondo4 {    /*3 foto sotto header*/
          grid-template-columns: 1fr; 
          display: grid;
          aspect-ratio: 1/1;  
          margin: 16px; 
      }

      .sfondo4 img {
        height: auto;
        gap: 0;
        object-fit: cover;
        }
      
      p,
      .testi p,
      .testi2 p,
      .testi3 p, .testina p{
        text-align: left;
        width: 450px;
      }

      .testi, .testi2, .testi3, .testina {
        padding: 16px;
        margin: 16px;

      }
     
      .testosuimmagine,
      .testosuimmagine-2 {
        height: auto;
        padding: 24px;
        text-align: left;
      }
     
      .testosuimmagine-2 ul {
        font-size: 36px;
        padding-left: 0;
      }
     
      .testosuimmagine-2 ul li a {
        margin-bottom: 18px;
      }
     
      .foto-street,
      .sfondo4,
      .videotecniche {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }
     
      .foto-street img,
      .sfondo4 img {
        width: 100%;
        height: auto;
        
      }

      h1, h2, h3, h4, h5, h6 {
        text-align: left;
        margin: 0;
      }

      .testina p {
        margin: 0 auto;
      }
      
      .foto-street img {
        max-width: 350px;
        height: auto;
        padding-top: 48px;
      }

      .titolimg img {
        margin: auto;
        max-width: 250px;
      }
      .titolimg2 img {
        margin: auto;
        max-width: 250px;
      }

      .pollo4 img {
        height: auto;
        max-width: 230px;
      }

      .pollo4 {
        margin: auto;
        gap: 0;
      }

      .testosuimmagine-2 li {
        font-size: 46px;
        margin: 0 auto;
        padding: 12px;
      }

      .foto-storia2 {
        max-width: 1000px;
        height: auto;
        padding-top: 32px;
      }

      .foto-street {
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
      }

      .foto-street img {
        aspect-ratio: 1/1;

      }

      .foto-street {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
        align-items: center;
        justify-content: center;
      }
     
      .foto-street img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        margin: 0 auto;
        padding: 0;
      }

      .sfondo4 {      
        display: grid;
        grid-template-columns: 1fr 1fr;   
        gap: 8px;
        padding: 12px;
        
      }
       
    .sfondo4 img {   
        width: 250px;              
        height: auto;            
        object-fit: cover;  
        aspect-ratio: 1/1;  
              
      }

      p {
        font-size: 16px;
        padding: 12px;
      }

      .titolo-storia h1 {
        font-size: 34px;
        padding-top: 16px;
            }

        .arturo2 img {
            margin: 0 auto;
            padding: 0;
            max-width: 450px;
            justify-content: center;
            display: block;
        }

        .pollo2 img {
            margin: 0 auto;
            padding: 0;
            max-width: 300px;
            height: auto;
            justify-content: center;
            display: block;
            padding-top: 24px;

        }
        .arturo2 h3 {
            padding: 0;
            margin: 0 auto;   
        }

        .pollo4 img {
            padding: 12px;
            margin: auto;
            aspect-ratio: 1/1;
            height: auto;
            object-fit: cover;
            width: 220px;            
            }


        .pollo4 {
            margin: 0 auto;
        }

        .blocco1banksy h3 {
          margin: 0 auto;
          margin-top: 42px; 
    
        }

        .susy h3 {
            padding-left: 16px;
            font-size: 28px;
            font-weight: 600;
            padding-top: 36px;
        }
}

   







